{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <h1 class="title-page">Artist</h1>

    <div class="cards-artist">
        {% for artist in artists %}
        <div class="card-artist">
            <h2>{{ artist.name }} <span>#{{ artist.id }}</span></h2>

            <div class="albums-artist">
                {% for album in albums %}
                {% if album.artist.id == artist.id %}
                <a href="{{ path('app_album_show', {'id': album.id}) }}" class="album-artist">
                    <div class="img-album-artist">
                        <img src="{{ asset('uploads/imgs/albums/'~album.albumImg) }}">
                    </div>

                    <p>{{ album.name }}</p>
                </a>
                {% endif %}
                {% else %}
                <p class="no-album">No albums is here</p>
                {% endfor %}
            </div>

            <div class="btns">
                <a class="btn btn-outline-primary" href="{{ path('app_artist_show', {'id': artist.id}) }}">Show More</a>
                <a class="btn btn-outline-primary" href="{{ path('app_artist_edit', {'id': artist.id}) }}">Edit</a>
                {{ include('artist/_delete_form.html.twig') }}
            </div>
        </div>
        {% else %}
        <p class="no-album">Nothing is here</p>
        {% endfor %}
    </div>

    <a class="btn btn-outline-primary btn-create-new" href="{{ path('app_artist_new') }}">Create new</a>
{% endblock %}
