{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1 class="title-album">Album</h1>

    <div class="card-album-show">
        <div class="img-album"><img src="{{ asset('uploads/imgs/albums/'~album.albumImg) }}"></div>

        <p>{{ album.name }} - <span>{{ album.artist.name }}</span></p>

        <div class="btns">
            <a class="btn btn-outline-primary" href="{{ path('app_album_index') }}">back to list</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-outline-primary" href="{{ path('app_album_edit', {'id': album.id}) }}">edit</a>
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('album/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
